.dashboard-icons {
  font-size: 25px;
  margin-right: 10px;
  padding-left: 5px;
}

.icon-main-div {
  display: flex;
  align-items: center;
}

.icon-name {
  font-weight: 600;
  font-size: 12px;
  font-family: roboto;
}

.border-icon {
  border-width: 5px;
  padding-left: 5px;
  font-size: 25px;
  border-left: solid #ff9933;
  margin-right: 10px;
}
